<form novalidate [formGroup]="attributeForm" id="attribute-form">
  <p>
    <md-input-container>
      <input formControlName="name" mdInput placeholder="Name">
    </md-input-container>
    <md-input-container>
      <input formControlName="description" mdInput placeholder="Description">
    </md-input-container>
  </p>
  <p>
    <md-select formControlName="dataType" placeholder="Data type" selected="STRING">
      <md-option *ngFor="let dataType of dataTypes" [value]="dataType.value">{{dataType.name}}</md-option>
    </md-select>
    <md-select formControlName="format" placeholder="Format" selected="NONE" [disabled]="attributeForm.get('dataType').value === 'OBJECT'">
      <md-option *ngFor="let format of formats" [value]="format.value">{{format.name}}</md-option>
    </md-select>
  </p>
  <p>
    <md-input-container>
      <input formControlName="deviceResourceType" mdInput placeholder="Disabled">
    </md-input-container>
    <md-input-container>
      <input formControlName="defaultValue" mdInput placeholder="Default value" [disabled]="disableControls">
    </md-input-container>
  </p>
  <form novalidate [formGroup]="enumerationsForm" class="enumerations-form"
    *ngIf="attributeForm.controls.format.value === 'NONE'">
    <md-input-container>
      <input formControlName="enumerationLabel" mdInput placeholder="New enumeration">
    </md-input-container>
    <button md-mini-fab (click)="addEnumeration()" color="primary" [disabled]="enumerationsForm.get('enumerationLabel').value === ''"><md-icon>add</md-icon></button>
    <md-chip-list>
      <md-basic-chip *ngFor="let enum of attributeForm.controls.enumerations.value; let enumIndex = index">
        {{enum}}
        <span (click)="removeEnumeration(enumIndex)" class="remove-enum">x</span>
      </md-basic-chip>
    </md-chip-list>
  </form>
  <button md-mini-fab (click)="removeAttribute(attrIndex)" color="warn" id="remove-attribute-button"><md-icon>delete</md-icon></button>
</form>
