<form novalidate (ngSubmit)="saveAttribute()" [formGroup]="attributeForm" class="attribute-form">
  <p>
    <md-input-container>
      <input formControlName="name" mdInput placeholder="Name">
    </md-input-container>
    <md-input-container>
      <input formControlName="description" mdInput placeholder="Description">
    </md-input-container>
  </p>
  <p>
    <md-select formControlName="dataType" placeholder="Data type" selected="STRING">
      <md-option *ngFor="let dataType of dataTypes" [value]="dataType.value">{{dataType.name}}</md-option>
    </md-select>
    <md-select formControlName="format" placeholder="Format" selected="NONE">
      <md-option *ngFor="let format of formats" [value]="format.value">{{format.name}}</md-option>
    </md-select>
  </p>
  <p>
    <md-input-container>
      <input formControlName="deviceResourceType" mdInput placeholder="Disabled">
    </md-input-container>
    <md-input-container>
      <input formControlName="defaultValue" mdInput placeholder="Default value">
    </md-input-container>
  </p>
  <form novalidate [formGroup]="enumerationsForm" class="enumerations-form"
    *ngIf="attributeForm.controls.format.value === 'NONE'">
    <md-input-container>
      <input formControlName="enumerationLabel" mdInput placeholder="New enumeration">
    </md-input-container>
    <button md-raised-button (click)="addEnumeration()" color="accent">Add</button>
  </form>
  <button md-raised-button (click)="removeAttribute(attrIndex)" color="warn">Remove Attribute</button>
</form>
