:host {
  box-sizing: border-box;
  float: left;
  width: 65%;
}

/deep/ .mat-tab-body {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

/deep/ .mat-tab-body-content {
  padding-top: 20px;
}

#tabs-group {
  margin-bottom: 20px;
}

#save-button {
  float: right;
}
