:host {
  box-sizing: border-box;
  float: left;
  width: 65%;
}

/deep/ .mat-tab-body {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

/deep/ .mat-tab-body-content {
  position: relative;
}

#tabs-group {
  margin-bottom: 20px;
}

.attributes-container {
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
}

#add-attribute {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#save-button {
  float: right;
}
